.features {
	display: flex;
	align-items: center;
	padding: 2rem 0;
	width: 100%;
}

.featurelist {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.image {
	border-radius: 12px;
}

.anchor:hover {
	outline: 2px solid #549bff;
}
